@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

div {
  height: calc(100vh / 3);
}

#fahrenheit {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

input[type=number] {
  width: 100%;
  height: 100%;
  outline: none;
  background: black;
  color: white;
  font-family: 'Asap', sans-serif;
  font-size: 10em;
  text-align: center;
  border: 0;
}

::-webkit-input-placeholder { /* chrome/opera/safari */
  color: #555555;
  /* background: yellow; */
}

::-moz-placeholder { /* firefox */
  color: #555555;
}

::-ms-input-placeholder { /* edge */
  color: #555555;
}

@media (max-width: 768px) {
  input[type=number] {
    font-size: 5em;
  }

  ::-webkit-input-placeholder { /* chrome/opera/safari */
    font-size: 0.9em;
  }
  
  ::-moz-placeholder { /* firefox */
    font-size: 0.9em;
  }
  
  ::-ms-input-placeholder { /* edge */
    font-size: 0.9em;
  }
  
}


